
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<form method="post" class="col-8 m-auto pt-5 pb-5 text-left">
            <h2>Entrar</h2>
            <div class="m-auto pt-3 pb-3">
                <a class="btn btn-info" href="/">Voltar</a>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            Ainda não possui uma conta? clique em cadastrar!<br><br>
            <button class="btn btn-success" type="submit">Entrar</button>
            <a class="btn btn-info ml-3" href="/accounts/signup">Cadastrar</a>
        </form>
</div>
{% endblock %}

